@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

}

html, body {
  width: 100%;
  height: 100%;
}


/* header related style */

/* nav style */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 8vw;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.nav-left span {
  color: #FF5400;
  font-size: 2rem;
  font-weight: 800;
}

.nav-right > ul {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.nav-right li {
  list-style: none;
}

.nav-right li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
}

.nav-right li .home {
  color: #FF5400;
}

.nav-right li:nth-child(6) {
  display: none;
}


/* banner section related style */

.banner-container {
  width: 100%;
  padding: 0 8vw;
}


  .banner-section {
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    border-radius: 10px;
  }

  .banner-section h1, h4 {
    text-align: center;
  }



  .banner-section h1 {
    color: rgb(126, 95, 95);
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 3px 5px black;

  }

  .banner-section > h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;

  }

  .input-type {
    display: flex;
    border-radius: 8px;
    background: rgba(182, 162, 162, 0.616);
    gap: 50px;
    padding: 16px;
  }
 
  .input-type .second, .third, .fourth, .first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
  }

  .input-type .first {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .input-type .fourth {
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #FF5400;
  }


  /* main related style */

  main {
    width: 100%;
  }

  /* section 1 related styles */

  .section1 {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    padding: 0 8vw;
    justify-content: space-between;
  }

  .section1-left {
    width: 45%;
  }

  /* .section1-right {
    width: 40%;
  } */

  .section1-left h2 {
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;

  }

  .section1-left p, ul li, h6 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5vw; */
    margin-top: 1vw;
  }

  .section1-left ul {
    padding: 0 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .section1-left ul li {
    margin-top: 2vw;
  }

  .primary-color {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1.2vw 1.7vw;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-top: 2vw;

  }

  /* section 2 related styles */



 


/* responsive deginn for mobile devices */

@media (max-width: 600px) {
  /* nav related responsive */
  .nav {
    padding: 2vw 3vw;
  }

  .nav img {
    height: 30px;
  }

  .nav-left span {
    font-size: 1.2rem;
  }

  .nav-left h2 {
     font-size: 1rem;
  }

  .nav-right li {
    display: none;
  }

  .nav-right li:nth-child(6) {
    display: block;
  }


  /* banner related styles */

  .banner-container {
    padding: 0 3vw;
  }

  .banner-section {
    margin-top: 4vw;
    width: 90%;
    /* max-width: 600px; */
    /* max-height: 500px; */
  }

  .banner-section .input-type {
    flex-direction: column;
  }

  .input-type {
  gap: 10px;
  margin-top: 8px;
  }

  .input-type .second, .third, .fourth, .first {
    width: 200px;
    height: 60px;
    font-size: 1rem;
    font-weight: 400;
  }

  .banner-section h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  /* main related styles */

  /* section1 related responsive */
  .section1 {
    flex-direction: column;
    padding: 0 3vw;
    gap: 15px;
  }

  .section1-left {
    width: 90vw;
  }
  

  .section1-right img {
    width: 100%;
    object-fit: cover;
  }

  .section1-left h2 {
    font-size: 1.5rem;
  }

  .section1-left p, ul li, h6 {
    font-size: .7rem;
  }

  .section1-left ul {
    padding: 0 6vw;
  }


  .primary-color {
    font-weight: 600;
  }


  /* section 2 related responsive */
  
}