@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

}

P {
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;

}

html, body {
  width: 100%;
  height: 100%;
}


/* header related style */

/* nav style */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 8vw;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.nav-left span {
  color: #FF5400;
  font-size: 2rem;
  font-weight: 800;
}

.nav-right > ul {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.nav-right li {
  list-style: none;
}

.nav-right li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
}

.nav-right li .home {
  color: #FF5400;
}

.nav-right li:nth-child(6) {
  display: none;
}


/* banner section related style */

.banner-container {
  width: 100%;
  padding: 0 8vw;
}


  .banner-section {
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    border-radius: 10px;
  }

  .banner-section h1, h4 {
    text-align: center;
  }



  .banner-section h1 {
    color: rgb(126, 95, 95);
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 3px 5px black;

  }

  .banner-section > h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;

  }

  .input-type {
    display: flex;
    border-radius: 8px;
    background: rgba(182, 162, 162, 0.616);
    gap: 50px;
    padding: 16px;
  }
 
  .input-type .second, .third, .fourth, .first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
  }

  .input-type .first {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .input-type .fourth {
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #FF5400;
  }


  /* main related style */

  main {
    width: 100%;
  }

  /* section 1 related styles */

  .section1 {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    padding: 0 8vw;
    justify-content: space-between;
  }

  .section1-left {
    width: 45%;
  }

  /* .section1-right {
    width: 40%;
  } */

  .section1-left h2 {
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;

  }

  .section1-left p, ul li, h6 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5vw; */
    margin-top: 1vw;
  }

  .section1-left ul {
    padding: 0 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .section1-left ul li {
    margin-top: 2vw;
  }

  .primary-color {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1.2vw 1.7vw;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-top: 2vw;

  }

  /* section 2 related styles */

  .section2 {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2-left {
    text-align: center;

  }

  .section2-img-container {
    padding: 4vw 8vw;
    display: flex;
    flex-direction: column;
    gap: -100px;

  }

  .first-row, .second-row, .third-row {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .second-row, .third-row {
    margin-top: -15px;
  }


  .section2-img-container  .centerd-text {
    position: relative;
    top: -175px;
    color: rgb(196, 181, 181);
    font-size: 1.8rem;
    font-weight: 900;
    text-shadow: 2px 3px 5px black;

  }

  /* section3 style started */


  .section3 {
    width: 100%;
    padding: 5vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  .section3 h2 {
    text-align: center;
    margin-bottom: 1.5vw;
  }

  .section3 .section3-middle {
    display: flex;
    align-items: center;
    gap: 2vw;

  }

  .section3 .shared {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2vw 3vw;
     margin-top: 2vw; 
  }

  .section3 .section3-bottom {
    margin: 0 auto;
  }

  .section3 p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;

  }

  .section3 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }


/* section4 related styles */

 .section4 {
  width: 100%;
  padding: 5vw 8vw;
 }

 .section4-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
 }

 .section4-middle, .section4-bottom2 {
  background-image: url("Images/Group\ 39.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2vw;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;

 }


 .section4-bottom {
  background-image: url("Images/Group\ 40.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2vw;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
 }

 .section4 .card {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(3px);
  padding: 3vw 3vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  top: 160px;
  right: 100px;
 }

 .section4 .card2 {
  right: 0;
  left: 100px;
 }

 .section4 .card .card-top {
  display: flex;
  gap: 2vw;
 }

 .section4 .card .card-top div {
  display: flex;
  gap: 10px;
 }

 .section4 .card .card-bottom p {
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1vw;
  margin-bottom: 1vw;
 
 }

 .section4 .card .card-bottom .price {
  color: #FF5400;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1vw;
 }

 .section4 .card .card-bottom .primary-color2 {
  border-radius: 8px;
  background: #FF5400;
  padding: 1vw 2vw;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
 }

 .section4 .button {
  margin: 4vw 43%;
  width: 210px;
  height: 55px;
  border: none;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
 }

 /* section5 related styles */

 .section5 {
  width: 100%;
  padding: 5vw 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .section5 h2 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5vw;

 }

 .section5 .section5-right {
  width: 630px;
  height: 440px;
  background-image: url("Images/Group\ 40089.png");
  background-repeat: no-repeat;
  background-size: cover;
 }

 .section5 ul {
  padding: 1.5vw;
 }



/* responsive deginn for mobile devices */

@media (max-width: 600px) {
  /* nav related responsive */
  .nav {
    padding: 2vw 3vw;
  }

  .nav img {
    height: 30px;
  }

  .nav-left span {
    font-size: 1.2rem;
  }

  .nav-left h2 {
     font-size: 1rem;
  }

  .nav-right li {
    display: none;
  }

  .nav-right li:nth-child(6) {
    display: block;
  }


  /* banner related styles */

  .banner-container {
    padding: 0 3vw;
  }

  .banner-section {
    margin-top: 4vw;
    width: 90%;
    /* max-width: 600px; */
    /* max-height: 500px; */
  }

  .banner-section .input-type {
    flex-direction: column;
  }

  .input-type {
  gap: 10px;
  margin-top: 8px;
  }

  .input-type .second, .third, .fourth, .first {
    width: 200px;
    height: 60px;
    font-size: 1rem;
    font-weight: 400;
  }

  .banner-section h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  /* main related styles */

  /* section1 related responsive */
  .section1 {
    flex-direction: column;
    padding: 0 3vw;
    gap: 15px;
  }

  .section1-left {
    width: 90vw;
  }
  

  .section1-right img {
    width: 100%;
    object-fit: cover;
  }

  .section1-left h2 {
    font-size: 1.5rem;
  }

  .section1-left p, ul li, h6 {
    font-size: .7rem;
  }

  .section1-left ul {
    padding: 0 6vw;
  }


  .primary-color {
    font-weight: 600;
  }


  /* section 2 related responsive */

  .first-row, .second-row, .third-row {
    flex-direction: column;

  }

  .section2 {
    padding: 0 3vw;
  }

  .section2-img-container img {
    width: 100%;
    object-fit: cover;
  }


  .section2-img-container  .centerd-text {
    top: -105px;
  }

  .section2-img-container #centered-text3 {
    top: -130px;
  }

  .section2-img-container #centered-text4 {
    top: -160px;
  }

  /* sectiom 3 responsive started */

  .section3 {
    padding: 0 3vw;
    gap: 5vw ;
  }

  .section3 .section3-middle {
    flex-direction: column;
  }

  .section3 .shared {
    width: 300px;
    padding: 3vw 4vw;
    margin-top: 3vw;
  }

  .section3 #speciel {
    text-align: center;
  }

  .section3 h2 {
    margin-bottom: 5vw;
  }


  /* section4 related responsive */

  .section4 {
    padding: 0 3vw;
    margin-top: 15px;
  }

  .section4-top p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .section4-middle, .section4-bottom2, .section4-bottom {
    height: 500px;
    width: 350px;
  }

  .section4 .card {
    width: 300px;
    height: 300px;
    top: 150px;
    right: 20px;
    /* bottom: 0; */
    justify-content: center;
  }


  .section4 .card2 {
    left: 25px;
    top: 150px;
    justify-content: center;
    
  }

  .section4 .card .card-top {
  flex-direction: column;
  }

  #none {
    display: none;
  }

  .section4 .card .card-bottom p {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .section4 .card .card-bottom .price {
    margin-bottom: 3vw;
  }

  .section4 .button {
    position: relative;
    left: 75px;
    margin: 0;
    margin-top: 10px;
  }

  /* section5 related responsive */

  .section5 {
    flex-direction: column;
    gap: 15px;
  }

  .section5 .section5-right  {
    width: 350px;
    height: 220px;
    background-size: cover;
  }

  .section5 ul {
    padding: 5vw;
   }

}